@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.darkSkin {
  background-color: var(--matterColorLight);
}

.tab {
  margin-left: 16px;

  &:first-child {
    margin-left: 0;
  }

  @media (--viewportLarge) {
    margin-left: 24px;
  }
}

.tabContent {
  @apply --marketplaceLinkStyles;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  /* Font */
  @apply --marketplaceTabNavHorizontalFontStyles;

  color: var(--matterColorDark);
  padding-bottom: 10px;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;

  transition: var(--transitionStyleButton);

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--matterColorDark);
  }

  @media (--viewportMedium) {
    border-bottom-width: 3px;
    padding: 5px 5px 0px 5px;
  }
}

.button {
  /* Override Chrome's border-radius which is visible when
   border is used as underline */
  border-radius: 0;
  /* Override Chrome's button outline */
  outline: 0;
}

 
.selectedTabContent {
  border-bottom-color: var(--marketplaceColor);
  color: var(--marketplaceColor);
}

.disabled {
  pointer-events: none;
  color: var(--matterColorAnti);
  text-decoration: none;
}

/* Dark skin */
.tabContentDarkSkin {
  color: var(--matterColorDark);

  &:hover {
    color: var(--matterColorDark);
  }
}

.selectedTabContentDarkSkin {
  border-bottom-color: var(--marketplaceColor);
  color: var(--matterColorDark);
}

.disabledDarkSkin {
  color: var(--matterColorDark);
  opacity: 0.3;
}
