@import '../../marketplace.css';

.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
  text-align: center;
}

.steps {
  display: flex-end;
  flex-direction: column;
  text-align: center;


  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.step {
  display: flex;
flex-direction: column;
align-items: center;
  
  @media (--viewportMedium) {
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    padding: 20px;
  }
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createListingLink {
  margin-top: 18px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.graphic {
  width: 150px;
  height: 150px;
}

.arithmetic {
  font-weight: 500;
  color: #DA4167; 
  font-size: 50px;
}

.sectionMainContainer {
  border: solid;
  border-width: 5px;
  border-color: var(--marketplaceColorMedium);
  
  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowSectionLocationHover);
  }
}

.substep {
  width: 225px;
  justify-content: center;
}