@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;

  /* Layout: size and positioning */
  width: 100%;
  height: auto;
  margin-top: 24px;
}

.error {
  color: var(--failColor);
}

.errorPlaceholder {
  @media (--viewportMedium) {
    width: 100%;
    height: 32px;
  }
}

.reviewRating {
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-bottom: 16px;
  }
}

{/*}Box for comment {*/}
.reviewcomment {
  padding-top: 25px;
}

{/*}Box for height, weight {*/}

.bodyStats {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
}

.reviewContentBody {
  width: 45%;
  flex-shrink: 0;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (--viewportMedium) {
    margin-top: 15px;
    margin-top: 5px;
    padding-top: 10px;
  }
}

{/*}Box for body measurements {*/}

.reviewContentStats {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
}

.stats {
  width: 30%;
  flex-shrink: 0;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (--viewportMedium) {
    margin-top: 15px;
    margin-top: 5px;
    padding-top: 10px;
  }
}

{/*}Box for fit, recommend, anonymous {*/}

.reviewRemaining {
padding-top: 25px;
}

.features {
  padding-bottom: 20px;
}

.imagesField {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.imagesIndividual {
  padding: 50px;
}

.textarea {
  height: 10px;
}


.addImageWrapper {
  float: left;
  position: relative;
  width: 50%;
  margin: 24px 0 0 0;
  overflow: hidden;
  padding: 15px;

  &::after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  @media (--viewportLarge) {
    width: var(--EditListingPhotosForm_imageWidthDesktop);
    margin: 0 0 24px 0;
  }
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectRatioWrapper {
  padding-bottom: calc(100% * (2 / 3));
}

.addImage {
  /* Layout */
  /* Maintain aspect ratio */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 10px;

  /* Colors */
  background-color: var(--matterColorLight);

  @media (--viewportLarge) {
    background-color: var(--matterColorBright);
  }

  border-style: dashed;
  border-color: var(--matterColorNegative);
  border-width: 2px;
  border-radius: 2px;

  /* Behaviour */
  cursor: pointer;
  transition: var(--transitionStyleButton);

  &:hover {
    border-color: var(--matterColorAnti);
  }
}

.chooseImageText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chooseImage {
  @apply --marketplaceH4FontStyles;
  color: var(--matterColor);
  font-weight: var(--fontWeightSemiBold);

  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportLarge) {
    font-weight: var(--fontWeightSemiBold);
    margin-top: 0;
    margin-bottom: 0;
  }
}

.imageTypes {
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColorAnti);

  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportLarge) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.imageRequiredWrapper {
  width: 100%;
  clear: both;
}

.thumbnail {
  width: 100%;
}

.tip {
  @apply --marketplaceH5FontStyles;
  flex-shrink: 0;
  color: var(--matterColorAnti);
  margin-top: 24px;
  margin-bottom: 60px;

  @media (--viewportLarge) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.error {
  color: var(--failColor);
}

.submitButton {
  margin-top: auto;
  margin-bottom: 96px;
  flex-shrink: 0;

  @media (--viewportMedium) {
    display: inline-block;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 0;
  }
}

.subTitle {
  color: var(--matterColor);
  font-weight: 600;
  font-size: 15px;

}

