@import '../../marketplace.css';

.root {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  justify-content: center;

  @media (--viewportMedium) {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
}

.sectionImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
  height: auto;

  @media (--viewportMedium) {
    align-items: flex-start;
  }
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  max-width: 100%;
  max-height: 325px;
  object-fit: cover;
  border-radius: var(--borderRadius);
  padding: 15px;
}

.viewPhotos {
  font-size: 10px;
  font-weight: 500;
  color: var(--marketplaceColor);
  border: none;
  padding: 2px;
  cursor: pointer;
  background-color: var(--marketplaceColorBackground);
  position: absolute;
  top: 0px;
  left: 15px;
  margin: 0;
  padding: 8px 13px 6px 13px;

  &:hover {
    text-decoration: underline;
  }
}

.reviewItem {
  margin-bottom: 25px;

  @media (--viewportMedium) {
    margin-bottom: 25px;
  }
}

.review {
  padding: 0px;
  display: flex;
  width: 100%;
  flex-direction: column;

  box-shadow: var(--boxShadowListingCard);

  &:hover {
    transform: scale(1.02);
  }

  @media (--viewportMedium) {
    width: 425px;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.containerTop {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.containerImage {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (--viewportMedium) {
    width: 50%;
  }
}

.containerMain {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.1;

  @media (--viewportMedium) {
    width: 50%;
  }
}

.reviewDate {
  font-size: 12px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 2px;
}

.brandLink {
  margin-top: 15px;
}
.containerAuthor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  height: 15px;
}

.textRecommend {
  @apply --marketplaceH5FontStyles;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 15px;
}

.reviewComments {
  @apply --marketplaceBodyFontStyles;
  font-family: 'Georgia';
  font-size: 14px;
  white-space: pre-line;
  line-height: 1.2;
  margin-bottom: 20px;

  @media (--viewportMedium) {
    font-size: 12px;
  }
}

.containerMeasurements {
  margin-bottom: 20px;
}

.bodyStats1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.subBodyStats1 {
  display: flex;
  flex-direction: row;
}

.height {
  @apply --marketplaceDefaultFontStyles;
  font-size: 11px;
  line-height: 1;
  margin-top: 2px;
  margin-bottom: 2px;
  color: var(--matterColorAnti);
}

.carouselModalContainer {
  flex-grow: 1;
  /* min-height: 568px; */
  padding: var(--modalPaddingMedium);
  margin-top: 0vh;
  margin-bottom: 0vh;
  padding: 25px 60px 25px 60px;
  background-color: var(--marketplaceColorBackground);
}
