@import '../../marketplace.css';

.root {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 15px;


  @media (--viewportMedium) {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }


}

.sectionImages {

  cursor: pointer;
  max-width: 100%;
  height: auto;
}


.viewPhotos {
  font-size: 10px;
  font-weight: 500;
  color: var(--marketplaceColor);
  border: none;
  padding: 10px;
  line-height: 1;
  cursor: pointer;
  background-color: var(--marketplaceColorBackground);

  &:hover {
    text-decoration: underline;
  }

  @media (--viewportMedium) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

}

.reviewItem {
  margin-bottom: 25px;


  @media (--viewportMedium) {
    margin-bottom: 25px;
  }
}

.review {
  padding: 0px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--boxShadowListingCard);

  &:hover {
    transform: scale(1.02);
  }

  @media (--viewportMedium) {
  width: 350px;
  flex-direction: row;
  margin-right: 10px;

  }
}

.containerTop {
height: 80%;
width: 100%;
display: flex;
flex-direction: column;

  @media (--viewportMedium) {
  flex-direction: row;
  align-items: flex-start;
  }
}

.containerImage {
  display: flex;
  flex-direction: column;
  width: 100%;
 
  @media (--viewportMedium) {
  width: 50%;
}
}

.containerMain {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (--viewportMedium) {
  width: 50%;
}
}

.reviewDate {
  font-size: 12px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 2px;
  
}

.containerAuthor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  height: 15px;
}

.textRecommend {
  @apply --marketplaceH5FontStyles;
font-weight: 300;
margin-top: 5px;
margin-bottom: 15px;
}


.reviewComments {
  @apply --marketplaceBodyFontStyles;
  font-family: 'Georgia';
  font-size: 12px;
  white-space: pre-line;
  line-height: 1.2;
  margin-bottom: 20px;
}

.containerMeasurements {
  margin-bottom: 20px;

}

.bodyStats1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.subBodyStats1 {
  display: flex;
  flex-direction: row;
}

.height {
  @apply --marketplaceDefaultFontStyles;
  font-size: 10px;
  line-height: 1;
  margin-top: 1px;
  margin-bottom: 1px;
  color: var(--matterColorAnti);
}