@import '../../marketplace.css';

.root {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 15px;


  @media (--viewportMedium) {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }


}

.sectionImages {

  cursor: pointer;
  max-width: 100%;
  height: auto;
}


.viewPhotos {
  font-size: 10px;
  font-weight: 500;
  color: var(--marketplaceColorLight);
  border: none;
  padding: 3px 3px 3px 3px;
  line-height: 1;

  &:hover {
    color: var(--marketplaceColorDark);
    text-decoration: underline;
  }
}

.reviewItem {
  margin-bottom: 25px;


  @media (--viewportMedium) {
    margin-bottom: 25px;
  }
}

.review {
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--boxShadowListingCard);

  &:hover {
    transform: scale(1.02);
  }

  @media (--viewportMedium) {
  width: 350px;
  height: 250px;
  margin: 5px;
  flex-direction: row;

  }
}

.avatar {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5px;
  max-width: 125px;
}

.containerRight {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (--viewportMedium) {
  width: 75%;
}
}
.containerRightTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  margin-bottom: 20px;
}

.reviewContent {
  @apply --marketplaceBodyFontStyles;
  font-family: 'Georgia';
  font-size: 10px;
  margin: 0;
  white-space: pre-line;
  height: 50px;
  line-height: 1.1;
}

.reviewInfo {
  @apply --marketplaceDefaultFontStyles;
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 0px;
  color: var(--matterColorDark);

  @media (--viewportMedium) {
    margin-top: 2px;
  }
}

.textContent{

}

.separator {
  margin: 0 7px;
}

.desktopSeparator {
  margin: 0 7px;
  display: none;

  @media (--viewportMedium) {
    display: inline;
  }
}

.mobileReviewRating {
  display: block;
  margin-top: 3px;
  margin-bottom: 9px;

  @media (--viewportMedium) {
    display: none;
  }
}

.desktopReviewRatingWrapper {
  /* For aligning rating starts in the middle
   * of a paragraph line */
  position: relative;
  display: none;

  @media (--viewportMedium) {
    display: inline;
  }
}

.desktopReviewRating {
  /* For aligning rating starts in the middle
   * of a paragraph line */
  display: inline-flex;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.reviewRatingStar {
  height: 12px;
  width: 12px;
  margin-right: 2px;

  &:last-of-type {
    margin-right: 0;
  }
}

.reviewDate {
  font-size: 10px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 5px;
}

.bodyStats {
  display: flex;
  flex-direction: column;
  line-height: 1;

  @media (--viewportMedium) {
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 2px;

  }

}

.bodyStats1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.height {
  @apply --marketplaceDefaultFontStyles;
  font-size: 10px;
  line-height: 1;
}

.weight {
  @apply --marketplaceDefaultFontStyles;
  font-size: 12px;
}