@import '../../marketplace.css';

.pageTitle {
  text-align: center;
  padding-bottom: 10px;

}

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1056px;
  margin: 24px auto;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 72px auto;
  }
}

.coverImage {
  width: 80%;
  height: 528px;
  border-radius: 4px;
  object-fit: contain;
  margin: 32px 0 40px;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (--viewportMedium) {
    flex-wrap: nowrap;
  }
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 100%;
  margin-bottom: 50px;
  padding: 5px;
  box-shadow: var(--boxShadowSectionLocationHover);

  @media (--viewportMedium) {
    max-width: 750px;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 32px;
  margin-bottom: 16px;
}


.headerSub {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.5;
}

.paragraph {
  padding: 10px;
}

.coverImageSPINOZA {
  max-width: 50%;
  height: auto;
  padding-bottom: 25px;
}

.coverImageSPINOZA2 {
  max-width: 25%;
  height: auto;
}

.coverImageSPINOZAdiv {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coverImagePrimoLuxe {
  max-width: 80%;
  border-radius: 50%;
  padding: 30px;

  @media (--viewportMedium) {
    max-width: 30%;
  }
}