@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
}

.listingCards {
  padding: 0 12px 96px 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (--viewportMedium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (--viewportLarge) {
    padding: 0 24px 96px 24px;
  }
}

.listingCard {
  margin-bottom: 36px;
  flex-basis: 50%;
  margin-right: 0px;

  @media (--viewportMedium) {
    /**
      * resultPanelWidthRatio = 0.625 aka 62.5%; Eugena: CHANGE TO 100%

      resultPanel: 62.5vw from 1024px = 640px; EUGENA: this should be 1024px
      panelPaddings: - 2*36px = 72px; 

      columnCount: 2; EUGENA: change to 3 columns
      guttersBetweenColumns: 24px

      (resultPanel - (panelPaddings + guttersBetweenColumns)) / columnCount = listingCardWidth
      ergo => listingCardWidth: 272px (or 181px for 3 columns; 136px for 4 columns)

    * flex-basis: calc((100%/columnCount) - (guttersBetweenColumns / columnCount))
    */
    flex-basis: calc(33% - 8px);
    margin-right: 10px;
  }

  @media (--viewportLarge) {
    /**
      * resultPanelWidthRatio = 0.625 aka 62.5%

      resultPanel: 62.5vw from 1024px = 640px
      panelPaddings: - 2*36px = 72px

      columnCount: 2
      guttersBetweenColumns: 24px

      (resultPanel - (panelPaddings + guttersBetweenColumns)) / columnCount = listingCardWidth
      ergo => listingCardWidth: 272px (or 181px for 3 columns; 136px for 4 columns)

    * flex-basis: calc((100%/columnCount) - (guttersBetweenColumns / columnCount))
    */
    flex-basis: calc(25% - 6px);
    margin-right: 0px;
  }

  @media (--viewportXLarge) {
    /**
     * resultPanelWidthRatio = 0.625 aka 62.5%

      resultPanel: 62.5vw from 1920px = 1200px
      panelPaddings: - 2*36px = 72px

      columnCount: 3
      guttersBetweenColumns: 2*24px = 48px

      (resultPanel - (panelPaddings + guttersBetweenColumns)) / columnCount = listingCardWidth
      ergo => listingCardWidth: 360px (or 270px for 4 columns)

     * flex-basis: calc((100%/columnCount) - (guttersBetweenColumns / columnCount))
     */

    flex-basis: calc(25% - 12px);
    margin-right: 0px;
  }
}

/**
 * Remove margin-right from listingCards on the last column
 * This is a special case in the world of breakpoints. Nth-of-type effects every nth item.
 * Here we take margin-right away, but we don't want it affect the next column breakpoint.
 */


.pagination {
  /* margin-top: auto; pushes pagination to the end of the page. */
  margin-top: auto;
  background-color: var(--matterColorLight);
  padding: 0 24px 15px;

  @media (--viewportLarge) {
    padding: 0 36px;
  }
}
