@import '../../marketplace.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: var(--boxShadowListingCard);
  padding: 10px;


  @media (--viewportMedium) {
    width: 425px;
    height: 150px;
    margin-left: 0px;
    margin-right: 10px;
  }
  /* Remove link's hover effect */
  &:hover {
    transform: scale(1.02);
  }
}

.threeToTwoWrapper {
  /* Layout */
  display: block;
  position: relative;
  transition: var(--transitionStyleButton);
  width: 35%;
  
  @media (--viewportMedium) {
  max-width: 125px;
  max-height: 125px;
  }
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  padding-bottom: 150%; /* 2:3 Aspect Ratio */
  background: var(--matterColorNegative); /* Loading BG color */
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: var(--borderRadius);
}

.info {
  /* Layout */
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 300px; 
  padding: 16px 20px 2px 20px;

  @media (--viewportMedium) {
    padding: 16px 20px 2px 20px;
    width: 500px; 
  }
  
}

.price {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-right: 18px;
}

.priceValue {
  /* Font */
  @apply --marketplaceH3FontStyles;
  font-size: 14px;
  color: var(--matterColorDark);


  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
}

.perUnit {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColorDark);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;

}

.title {
  /* Font */
  @apply --marketplaceH3FontStyles;
  color: var(--matterColor);
  font-weight: 400;
  font-size: 14px;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
  }
}

.authorInfo {
  /* Font */
  @apply --marketplaceH5FontStyles;
  font-size: 14px;  
  color: var(--matterColorDark);
  font-weight: 400;

  /* Remove default margins from font */
  margin-top: 0px;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 0;
  }
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word; 
  hyphens: auto;
}

.button {
  height: 15px;
  max-width: 120px;
  font-size: 12px;
}
