@import '../../marketplace.css';

.title {
  @apply --marketplaceH1FontStyles;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 25px;
}

.locations {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.location {
  width: 100%;
  margin-top: 25px;

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
  }

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.location {
  @media (--viewportMedium) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.location:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

/* A wrapper for a responsive image that holds its aspect ratio */
.imageWrapper {
  position: relative;
  border-radius: 4px;
  transition: var(--transitionStyleButton);

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowSectionLocationHover);
  }
}

/* An image wrapper that defines the images aspect ratio */
.aspectWrapper {
  padding-bottom: calc(2 / 3 * 100%); /* 2:3 Aspect Ratio */

  @media (--viewportMedium) {
    padding-bottom: calc(2 / 3 * 100%); /* 3:2 Aspect Ratio */
  }
}

.locationImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: cover;
}

.linkText {
  @apply --marketplaceH2FontStyles;
  color: var(--matterColorDark);
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--marketplaceColorMedium);

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.locationName {
  color: var(--marketplaceDark);
  font-size: 18px;
  font-weight: 300;
  padding-left: 5px;
}

.designers {
  width: calc(50% - 20px);
  margin-right: 20px;


  /* Single column in mobile */
  margin-top: 34px;

  @media (--viewportMedium) {
    /* Three columns in desktop */
    width: calc(25% - 20px);
    margin-bottom: 36px;
    margin-right: 20px;
  }
}

.subtext {
  line-height: 1.3;
  background-color: var(--marketplaceColorMedium);
  color: var(--matterColorDark);
  padding: 5px 5px 15px 5px;
  font-size: 14px;

  @media (--viewportMedium) {
  font-size: 12px;
  height: 55px;
  }

  @media (--viewportLarge) {
    font-size: 12px;
    height: 55px;

    }
}
