@import '../../marketplace.css';

.content {
max-width: 100%;

  @media (--viewportMedium) {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 0px;
    max-width: 25%;
  }

  @media (--viewportLarge) {
    margin: 0;

  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;
}

.title {
  margin-top: 8px;
  margin-bottom: 19px;
  font-size: 25px;
  

  @media (--viewportMedium) {
    margin-bottom: 36px;
  }
}

.reviewsHeading {
  font-size: 25px;
  color: var(--marketplaceColorDark);
  font-weight: 300;
}
